# ignore files
*.elc
*.pyc
*.lock
*.7z
*~
*.stackdump
*.swp
.#*
Thumbs.db
tramp
org-clock-save.el
.emms-history
.org-id-locations
abbrev_funcs_description
*.tar
*.gz

# ignore folders
server/
.svn/
.cvs/
CVS/
site-lisp/
auto-save-list/
elpa/
yasnippets/
Muse/
Org/
backup/
eshell/
games/
mode-abbrevs/
notes/
plugins/
semanticdb/
tutorial/
tar/

